<div class="container">
    <div class="body_box">
        <img src="images/profilepicture.jpg" class="picture">
        <p>Sean Miles<br>smiles at bellevuecollege dot edu</p>
        <a href="/resources">Web Resources</a>
        <br>
        <br>
        <a href="/project">Project</a>
        <br>
        <br>
        <a href="/">Home</a>
    </div>
    <div class="elevator_pitch_box">
        <p>I'm student at Bellevue College, and my field of study is in App Develpment Concentration in Software Deveolpment Program.
            I have experience in working on websites and coding problems that are in the following programming languages: C#, 
            JavaScript, HTML, Python, C+, and Lua. I have been working to getting a bachelors' degree in this program for 3+ years. My goal is to gain enough experience 
            to land me a career in this field. My hobbies include playing racquet sports such as, badminton, tennis, and 
            pickleball, hiking, and creating art.
        </p>
    </div>
    <div class ="GVMPage2Questions">
        <p>
            Answers to the GVMPage2Questions:
            What I learned from this experience is that research is important
            when it comes to succeeding in working on app projects.
            What my experience means to me is that I have to spend alot of hours
            figuring out how to complte my project.
            This experience will help me in with my academic purists, career, and life goals, because
            it will have taught me a skill that will help increase the chances of me succeeding in those
            aspects of my life in the future.
            I have since then not gained any strengths from this experience.
            However, it did humble me in realizing there is so much I don't know about making app projects.
            Despite this, I kept pushing forward in trying to complete it, despite knowing I won't be able to finish it.
            What pointers I would give to someone about similar develpoment adventure, is to put alot of hours into
            knowing all about app projects and work on it as much as they can.
    
        </p>
    </div>
</div>