<div class="container">
    <div class="body_box">
        <a href="/mainprofile">Main Profile</a>
        <a href="https://github.com/vik-kos000/First-Responder.git">Click on me to go to my team's github repo URL</a>
    </div>
    <div class="elevator_pitch_box">
        <p> GROUP PROJECT CLASS SUMMARY:<br><br> 
            Originally, I wanted to create a community group project app for my project.
            However, due to it being too complex and large of a task for me to handle,
            my teammates and I in a group called First Responders, used the emergnecy calls app idea, called First-Responder. 
            It basically calls an API and data models from Emergency calls. The app would then 
            display all the info from a zip code that the user entered, and the app would show calls
            only from user enterted zip code. Our team managed to complete this project
            by splitting up tasks for each member of the group. Addtionally, I chose that that my group use 
            Microsoft Teams to communicate, which turned out to be a good decision, because
            we could speak in chat outside of meetings or start up meetings and join them to communicate through microphones 
            at any time.
        </p>
    </div>
    <div class ="GVMPage2Questions">
        <p>VISIONS GOING FORWARD FOR THE FUTURE:<br><br> 
            I intend to use what I have learned being in this class,
            and use them to work on my original individual project in the future.
            I don't know at some point when I will start working on it, maybe I will get started 
            in like a month or two, depends if I need more knowledge and skill in creating apps.
        </p>
    </div>
</div>