<div class="container">
    <div class="body_box">
        <a href="https://www.browserstack.com/guide/web-application-development-guide">BrowserStack</a>
        <br>
        <p>Rate: 3/5</p>
        <br>
        <a href="https://www.geeksforgeeks.org/web-development/">GeeksForGeeks</a>
        <br>
        <p>Rate: 5/5</p>
        <br>
        <a href="https://www.techtarget.com/searchcloudcomputing/definition/web-application-development">
        TechTarget</a>
        <br>
        <p>Rate: 4/5</p>
        <br>
        <a href="https://katalon.com/resources-center/blog/web-application-development-full-guide">
        Katalon</a>
        <br>
        <p>Rate: 3/5</p>
        <br>
        <a href="https://www.bitstudios.com/blog/web-application-development/">
        Bit Studios</a>
        <br>
        <p>Rate: 1/5</p>
        <br>
        <a href="/mainprofile">Main Profile</a>
    </div>
    <div class="elevator_pitch_box">
        <p>BrowserStack is about using a web server to edit your web application.</p>
        <br>
        <p>GeeksForGeeks is about giving guidance to how you can operate web applications
        by giving you tips on how to use them whether it's programming, or operating web applications.
        </p>
        <br>
        <p>TechTarget is about giving guidance to web add developers on how to use cloud based services.</p>
        <br>
        <p>Katalon is about allowing users to test their code on their web applications.</p>
        <br>
        <p>Bit studios is about giving guidance in general, for knowing how to set up a web application as a developer.</p>
        <br>
    </div>
</div>