<div class="container">
    <div class="body_box">
        <p>Sean Miles's GVM Individual Project Portfolio</p>
        <a href="/mainprofile">Main Profile</a>
    </div>
    <div class="elevator_pitch_box">
        <a href="/resources">Web Resources</a>
    </div>
    <div class ="GVMPage2Questions">
        <a href="/project">Project</a>
    </div>
</div>