<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="viewport" content="width=device-width, inital-scale=1, maximum-scale=1">
<title>Individual Project</title>
<link rel="stylesheet" href="/styles/allstyles.css">
</head>
<body>
  <%- body %>
</body>
</html>
